<header>
	<img class="dealimage" src="img/deal.jpg">

	<div class="container aboutContent">

		<h2> Deals </h2>
		<hr class="style-four">
		<div class="row">
			<div class="col-md-6">
				<div class="col-md-8">
					<h2>Pay online, save up to 25%!</h2>
					<p>
						Save time and money by booking and paying online with CarRental.
					</p>
				</div>

				<div class="col-md-4">
					<img src="img/online_deal.jpg" >
				</div>
			</div>

			<div class="col-md-6">
				<div class="col-md-8">
					<h2>Visit Oman this winter</h2>
					<p>
						And get a 10% discount
					</p>
				</div>

				<div class="col-md-4">
					<img src="img/oman_deal.jpg" >
				</div>
			</div>
		</div>

		<hr class="style-two">

		<div class="row">
			<div class="col-md-6">
				<div class="col-md-8">
					<h2>Team CarRental fans, enjoy an exclusive deal!</h2>
					<p>
						Fast and easy, just show your Cycling Federation card at the counter and get 10% discount.
					</p>
				</div>

				<div class="col-md-4">
					<img src="img/cycle_deal.jpg" >
				</div>
			</div>

			<div class="col-md-6">
				<div class="col-md-8">
					<h2>Get 10% off in Mozambique</h2>
					<p>
						Book now to discover Mozambique get a discount on your rental
					</p>
				</div>

				<div class="col-md-4">
					<img src="img/boat_deal.jpg" >
				</div>
			</div>
		</div>

	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</header>