<div class="container">

	<h1> OnBoard Entertainment </h1>
	<hr>

    <div class="row">
		 <div class="col-md-8">
			 <ul>
				 <li>
					 <h3> Information </h3>
					 <ul>
						 <li>Read about Dubai, catch up on news and sport or learn more about us. </li>
					 </ul>
				 </li>

				 <li>
					 <h3> Communication </h3>
					 <ul>
						 <li>Stay connected with friends, family or colleagues with our
							 Wi-Fi, mobile phone and data roaming services. Post a blog, make a call or email as you ride.</li>
					 </ul>
				 </li>


				 <li>
					 <h3> Entertainment </h3>
					 <ul>
						 <li>Our audio video on demand allows you to choose from over 1,000 entertainment options — movies, television, audio, games and much more. </li>
					 </ul>
				 </li>
			 </ul>

		 </div>

		<div class="col-md-4">
			<img src="img/entertainment.jpg" style="height:400px; width:400px">
		</div>

	</div>


	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

</div>