
<div class="wrapper">
	<img src="img/carHome.jpg" />

	<div class="overlay">
		<h2><p>Discover UAE with CarRental</p>
		    <p>A journey of comfort, luxury, and peace</p></h2>
	</div>

</div>

	<br>
	<br>
	<br>

	<div class="col-sm-12 servicesheading">
		<h1>Services</h1>
	</div>

	<div ui-view="servicesArea">
		<div class="container">

			<div class="row">
				<div class=" col-md-offset-2 col-md-4 ">
					<a ng-click="displayChauffer()" class="serviceslink"> <h2>Chauffer Service</h2></a>
				</div>

				<div class="col-md-4 ">
					<a ng-click="displayEntertainment()" class="serviceslink"> <h2>Entertainment</h2></a>
				</div>
			</div>

			<br>
			<div class="row">
				<div class=" col-md-offset-2 col-md-4  ">
					<a ng-click="displayMobile()" class="serviceslink"> <h2>CarRental on Mobile</h2></a>
				</div>

				<div class="col-md-4  ">
					<a ng-click="displayRefreshment()" class="serviceslink"> <h2>Refreshments</h2></a>
				</div>
			</div>
			<br>
			<br>
			<br>



		</div>

		</div>


</div>


