<div class="container">

	<div class="row">
		<div class="col-xs-10">
			<h1> CarRental Mobile App Features </h1>
		</div>

		<div class="cross col-xs-push-1 col-xs-1">
			<strong  ng-click="goBack()"> X</strong>
		</div>

	</div>
	<hr class="style-two">

	<div class="row">
		<div class="col-md-8">

			<ul>
				<li>First, tap to set your pickup location.</li>
				<li>Request your ride and a driver will accept.</li>
				<li>Enter the address or name of your destination.</li>
				<li>After pickup, we show the driver where you’re going and we’ll show you the route and ETA.</li>
				<li>Fare Estimate</li>
				<li>Split Fare</li>
			</ul>

		</div>

		<div class="col-md-4">
			<img src="img/car.png" style="height:500px; width:320px">
		</div>
	</div>



	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>